# Secrets
.env

# IDE files
/.vscode
/.idea
*.iml

# Build files
/node_modules
/docs
/dist
/coverage

# Others
.DS_Store

*.json

!package.json
!yarn.lock
!tsconfig*.json
!prettierrc.json
!typedoc.json
!.releaserc.json

# Development
/tests/example.test.ts